@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@plugin "daisyui" {
  themes: light --default;
}
/* * {
  font-family: "Poppins", sans-serif;
} */
* {
  font-family: "Poppins", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #424242;
  --color-secondary: #454545;
  --primary: #6d28d9;
  --primary-light: #8e24aa;
  --primary-dark: #4c1d95;
  --accent: #8e24aa;
  --bg-light: #faf5ff;
  --bg-dark: #1e1b4b;
  --gradient: linear-gradient(135deg, #454545, #3949ab);
}
.tittle {
  @apply text-3xl font-bold text-center text-gray-800 mb-10;
}
.deatailsCard {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
