@import "tailwindcss";
@plugin "daisyui";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6d28d9;
  --color-secondary: #454545;
  --color-base-100: #faf5ff;
  --color-base-content: #1e1b4b;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #8e24aa;
  --color-secondary: #d1d5db;
  --color-base-100: #1e1b4b;
  --color-base-content: #faf5ff;
}

* {
  font-family: "Poppins", sans-serif;
  @apply transition-colors duration-200;
}

.tittle {
  @apply text-3xl font-bold text-center text-base-content mb-10;
}

.deatailsCard {
  @apply bg-base-100 p-6 rounded-xl;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
